__pycache__/
*.pyc
.env

# MLflow
mlruns/
experiments/
mlflow.db

# Ignore trained model artifacts ONLY (root-level)
 /models/*.pkl
 /models/*.joblib

# Ignore processed data
data/processed/

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
.vscode/
